.button {
	width: 150px;
	height: 40px;
	font-family: $cb;
	font-size: 12px;
	text-transform: uppercase;
	display: inline-block;
	vertical-align: middle;

	&.button--full {
		width: 100%;
	}
	&.small {
		height: 33px;
	}

	&.button--empty {
		border: 2px solid #fff;
		background-color: transparent;
		color: #fff;
		width: 165px;
	}

	&.button--dark {
		border: 2px solid $brown;
		background-color: $brown;
		color: #fff;
	}
}

a.button {
	line-height: 38px;
}
a.button.small {
	line-height: 33px;
}