
.gallery {
	margin-top: -20px;
	padding-top: 65px;
	background-image: url(../images/history.png);
	background-position: 50% 0;
	background-repeat: repeat-x;
	background-color: transparent;
	.wrapper {
		background-color: #FFF;
	}

	h2 {
		margin-bottom: 20px;
	}

	p {
		width: 320px;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.button {
		margin: 20px 0 50px;
	}
}

.gallery-slider {
	padding: 0 5px;
	background-color: #fff;

	.slide {
		text-align: justify;

		&:after {
			content: '';
			display: inline-block;
			width: 50%;
			line-height: 0;
			height: 0;
		}
	}
	.photo-item {
		width: 175px;
		height: 100px;
		display: inline-block;
		vertical-align: top;
		margin: 0 -2px 4px;
		background-size: cover;
		background-position: 50% 50%;
	}

	.slick-arrow {
		bottom: -50px!important;
	}
}