// COLORS
// ---------------------------
$brown: #5E4644;
$gold: #B99148;
$colorBlueD: #062A41;


// FONTS
// ---------------------------
$c:   'Circe';
$cl:  'Circe-Light';
$cb:  'Circe-Bold';

$b:   'Bandera-Display-Cyrillic';
$bb:  'Bandera-Display-Cyrillic-Bold';

$bz:  'BazhanovC';




html, body                    	{   height: 100%;}
p                             	{   color: $brown; font: 14px "Arial";}
h1, h2, h3, h4, h5, p         	{   color: $brown;}
.white                          {	color: #FFF;}
body {
	padding-top: 50px;
}

// lAYOUT
// ---------------------------

.wrapper                      	{   width: 100%;
		                            max-width: 600px;
								   	margin: 0 auto;
                                   	text-align: center;
                              	}
header 							{}
aside 							{}
main 							{}
footer 							{}