@import 'reset';
@import 'fonts';
@import 'settings';
@import 'buttons';
@import 'mixins';




/*

CSS clearfix----------  @extend %clearfix;

CSS vertical align 
with before  ---------  @extend %clearfix;

CSS position----------  @include position(absolute, auto, 0, auto, 0);

CSS transition--------  @include transition(all, .2s);
CSS transform---------  @include transform(rotate(45deg));
CSS animation---------  @include animation($name, $duration: 1000ms, $iterations: infinite, $timing-function: ease, $delay: 0ms);

CSS FLEX--------------  @include flex($alignI: center, $justify: space-between,  $direction: row, $wrap: nowrap);	  
CSS FLEX direction----  @include flexDirection(column);
  
CSS Triangle----------  @include triangle(left, $size: 6px, $color: #222);
CSS text ending ------  @include textEnd($overflow: ellipsis); // values are: clip, ellipsis, or a string
CSS tooltip-----------  @include tooltiptooltip($content: attr(data-tooltip), $direction: top);


*/

/*---------------------- 
  TYPOGRAPHY
------------------------*/
h1 {
    font: 32px $cb;
    text-transform: uppercase;
    margin-top: 20px;
    line-height: 1;
}
h2 {
    font: 30px $b;
    color: $brown;
    text-transform: uppercase;
    vertical-align: middle;
    padding: 0 60px;
    position: relative;
    &:before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        height: 20px;
        width: 50px;
        background-size: 100% 100%;
        background-image: url("../images/leafLeft.svg");
        margin-right: 10px;
        margin-bottom: 14px;
        position: absolute;
        left: 10px;
        top: 0; bottom: 0;
        margin: auto;
    }
    &:after {
        content: "";
        display: inline-block;
        vertical-align: middle;
        width: 50px;
        height: 20px;
        background-size: 100% 100%;
        background-image: url("../images/leafRight.svg");
        margin-left: 10px;
        margin-bottom: 14px;
        position: absolute;
        right: 10px;
        top: 0; bottom: 0;
        margin: auto;
    }
}
h3 {
    font: 24px $cb;
    margin-bottom: 10px;
}
.date {
    font: 17px 'Circe';
    font-weight: bold;
    color: $gold;
}


section {
    position: relative;
    z-index: 2;
    background-color: #FFF;
    width: 360px;
    margin-left: auto;
    margin-right: auto;
    -webkit-transition: blur 0.5s ease;
        -o-transition: blur 0.5s ease;
        transition: blur 0.5s ease;
    &.blur {
        -webkit-filter: blur(6px); 
        filter: blur(6px); 
        /*transform: scale(1.04);*/
    }
}

/*---------------------- 
    HEADER STYLES
------------------------*/
header {
    width: 310px;
    background-color: #FFF;
    z-index: 1002;
    height: 100%;
    padding-top: 45px;
    @include position(fixed, 0, auto, auto, -100%);
    @include transition(all, .4s);
    overflow: scroll;
    &.active {
        left: 0;
    }
    .wrapper {
        width: 100%;
    }
}


.topLine {
    margin: 0;
    left: 0;
    @include position(fixed, 0, auto, auto, 0);
    width: 100%;
    height: 50px;
    z-index: 1001;
    background: $brown;
    @include transition(all, .4s);
    .wrapper {
        position: relative;
        height: 100%;
    }
}

.lang {
    @include position(absolute, 0, 8px, 0, auto);
    font: 16px $cb;
    color: #FFF;
    @include transition(all, .4s);
    margin: auto;
    display: inline-block;
    height: 12px;
    line-height: 1;
    &.active {
        opacity: 0;
    }
}


.logo {
    width: 100px;
    display: block;
    margin: 0 auto 65px;
    img {
        width: 100%;
    }
}
.logoMini {
    width: 55px;
    height: 30px;
    img {
        width: 100%;
    }
    @include position(absolute, 0, 0, 0, 0);
    margin: auto;
}

/*-------- nav ---------*/
nav {
    width: 310px;
}
nav ul {
        width: 310px;
        background-color: #FFFFFF;
        list-style-type: none;
        li {
            display: block;
            border-bottom: 2px solid #F3EAE5;
            &:last-of-type {border: none;}
            &.hasSub a:after {
                display: inline-block;
                vertical-align: middle;
                width: 16px;
                height: 8px;
                position: absolute;
                content: "";
                right: 20px;
                top: 0;
                bottom: 0;
                margin: auto;
                background-position: 50% 50%;
                background-repeat: no-repeat;
                background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNi4wLjEsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9ItCh0LvQvtC5XzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB3aWR0aD0iMjlweCIgaGVpZ2h0PSIxMy44MzRweCIgdmlld0JveD0iMCAwIDI5IDEzLjgzNCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMjkgMTMuODM0IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwYXRoIGZpbGw9IiNGRkZGRkYiIGQ9Ik0tMTkuMDQyLTcuNTgzIi8+DQo8cGF0aCBmaWxsPSIjNUY0NjQ1IiBkPSJNLTUuMjA4LDIxLjQxN2wtMTMuODM0LTE0LjVsMTMuODM0LTE0LjVjMCwwLTYsMTAuNTc3LTYsMTQuNVMtNS4yMDgsMjEuNDE3LTUuMjA4LDIxLjQxN3oiLz4NCjxwYXRoIGZpbGw9IiM1RjQ2NDUiIGQ9Ik0yOSwwTDE0LjUsMTMuODM0TDAsMGMwLDAsMTAuNTc3LDYsMTQuNSw2UzI5LDAsMjksMHoiLz4NCjwvc3ZnPg0K);
                background-size: 100%;
                @include transition(all, .2s);
            }
        }
        &  a {
            display: inline-block;
            text-decoration: none;
            color: $brown;
            text-transform: uppercase;
            padding: 14px 10px 12px;
            position: relative;
            width: 100%;
            text-align: center;
            font: 20px $bz;
            @include transition(all, .2s);
            &.active:after {
                -webkit-transform: rotate(-90deg);
                   -moz-transform: rotate(-90deg);
                    -ms-transform: rotate(-90deg);
                     -o-transform: rotate(-90deg);
                        transform: rotate(-90deg);
            }
                
            &:hover {}
        }
        .sub {
            display: none;
            margin-bottom: 10px;
            margin-top: 0;
            li {
                border: none;
                a {
                    color: #7E6A6A;
                    font: 15px "Arial";
                    &:after {
                        display: none;
                    }
                }
            }
        }
}



/* ------- menu toggle --------- */
.overflow {
    height: 100%;
}
.menu-button {    
        display: block;
        width: 28px;
        height: 22px;
        @include position(absolute, 14px, 310px, auto, auto);
        margin: auto; 
        cursor: pointer;
        z-index: 100;
        background: transparent;
        border: none;
        @include transition(all, .4s);
        &.active {right: 10px;}
    .menu-line {
            display: block;
            @include position(absolute, auto, 0, auto, 0);
            width: 100%;
            height: 2px;
            background-color: #fff;
            @include transition(all, .4s);
      }

      .top_line                     {   top: 0px;  margin: auto;}
      .middle_line                  {   top: 10px;  margin: auto;}
      .bottom_line                  {   bottom: 0px; margin: auto;}

      &.active                      {   -webkit-border-radius: 6px; border-radius: 6px;}
      &.active .top_line            {   @include transform(rotate(45deg)); top: 45%;}
      &.active .bottom_line         {   @include transform(rotate(-45deg)); bottom: 45%;}
      &.active .middle_line         {   width: 0; left: 50%;}

}




/*---------------------- 
    OFFER STYLES
------------------------*/
.offer {
    @include position(fixed, 50px, 0, auto, 0);
    z-index: 0!important;
    overflow: hidden;
    width: 360px;
    margin: 0 auto;
    height: 225px;
    & + .offerSpace {
        height: 225px;
        position: relative;
        z-index: -20;
    }
}

.offerMiddle {
    height: 220px;
    padding: 0 35px;
    @extend %vertAlign;
    @include position(fixed, 50px, 0, auto, 0);
    z-index: 1 !important;
    & + .offerSpace {
        height: 220px;
        position: relative;
        z-index: -20;
    }

    img {
        width: 95%;
        height: auto;
        display: inline-block;
        vertical-align: middle;
    }
    h1 {
        max-width: 98%;
        font: 40px $cb;
        display: inline-block;
        vertical-align: middle;
        color: #FFF;
        text-align: center;
        line-height: 1.2;
    }
}

.offerEmpty {
    padding: 20px 0;
    z-index: 2 !important;

    h1 {
        margin-top: 0;
        padding: 10px 0;
    }
}

.mainPage .offer {
     height: 470px;
     & + .offerSpace {
        height: 470px;
        position: relative;
        z-index: -20;
    }
}





/*---------------------- 
    OFFER SLIDER
------------------------*/
.offerSlider {
    height: 100%;
    .slick-list,
    .slick-track {height: 100%;}
    &__slide {
        padding-top: 222px;
        height: 100%;
        text-align: center;
        padding-bottom: 64px;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        position: relative;
        -webkit-background-size: cover;
             -o-background-size: cover;
                background-size: cover;
        &:before {
            display: inline-block;
            vertical-align: middle;
            content: "";
            height: 100%;
        }
        &:after {
            display: inline-block;
            vertical-align: middle;
            content: "";
            height: 100%;
            width: 100%;
            position: absolute;
            left: 0;
            top: 0;
            background-color: rgba(0,0,0, .5);
            z-index: 0;
        }
        &__info {
            display: inline-block;
            vertical-align: middle;
             max-width: 98%;
            position: relative;
            z-index: 2;
        }
        p, 
        button {
            color: #FFF;
            text-align: center;
        }
        p {
            font-size: 14px;
            line-height: 19px;
        }
        .button {
            position: absolute;
            bottom: 30px;
            left: 0;
            right: 0;
            margin: auto;
            z-index: 2000;
        }
    }
    .button {
        z-index: 2;
    }
}
.slick-arrow {
    width: 45px !important;
    height: 45px !important;
    background-color: #F4EBE5!important;
    background-repeat: no-repeat!important;
    top: auto !important; bottom: 4px !important;
    z-index: 2!important;
    background-size: 14px auto !important;
    background-position: 50% 50%!important;
    -webkit-border-radius: 50% !important;
            border-radius: 50% !important;
    &.slick-prev {
        background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNi4wLjEsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9ItCh0LvQvtC5XzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB3aWR0aD0iMTMuODM0cHgiIGhlaWdodD0iMjlweCIgdmlld0JveD0iMCAwIDEzLjgzNCAyOSIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTMuODM0IDI5IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwYXRoIGZpbGw9IiNGRkZGRkYiIGQ9Ik0wLDAiLz4NCjxwYXRoIGZpbGw9IiM1RjQ2NDUiIGQ9Ik0xMy44MzQsMjlMMCwxNC41TDEzLjgzNCwwYzAsMC02LDEwLjU3Ny02LDE0LjVTMTMuODM0LDI5LDEzLjgzNCwyOXoiLz4NCjxwYXRoIGZpbGw9IiM1RjQ2NDUiIGQ9Ik00OC4wNDIsNy41ODNsLTE0LjUsMTMuODM0bC0xNC41LTEzLjgzNGMwLDAsMTAuNTc3LDYsMTQuNSw2UzQ4LjA0Miw3LjU4Myw0OC4wNDIsNy41ODN6Ii8+DQo8L3N2Zz4NCg==");
        left: 20px;
        &:hover,
        &:focus {
            background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNi4wLjEsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9ItCh0LvQvtC5XzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB3aWR0aD0iMTMuODM0cHgiIGhlaWdodD0iMjlweCIgdmlld0JveD0iMCAwIDEzLjgzNCAyOSIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTMuODM0IDI5IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwYXRoIGZpbGw9IiNGRkZGRkYiIGQ9Ik0wLDAiLz4NCjxwYXRoIGZpbGw9IiM1RjQ2NDUiIGQ9Ik0xMy44MzQsMjlMMCwxNC41TDEzLjgzNCwwYzAsMC02LDEwLjU3Ny02LDE0LjVTMTMuODM0LDI5LDEzLjgzNCwyOXoiLz4NCjxwYXRoIGZpbGw9IiM1RjQ2NDUiIGQ9Ik00OC4wNDIsNy41ODNsLTE0LjUsMTMuODM0bC0xNC41LTEzLjgzNGMwLDAsMTAuNTc3LDYsMTQuNSw2UzQ4LjA0Miw3LjU4Myw0OC4wNDIsNy41ODN6Ii8+DQo8L3N2Zz4NCg=="); 
        }
    }
    &.slick-next {
        background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNi4wLjEsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9ItCh0LvQvtC5XzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB3aWR0aD0iMTMuODM0cHgiIGhlaWdodD0iMjlweCIgdmlld0JveD0iMCAwIDEzLjgzNCAyOSIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTMuODM0IDI5IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwYXRoIGZpbGw9IiNGRkZGRkYiIGQ9Ik0wLDAiLz4NCjxwYXRoIGZpbGw9IiM1RjQ2NDUiIGQ9Ik0wLDBsMTMuODM0LDE0LjVMMCwyOWMwLDAsNi0xMC41NzcsNi0xNC41UzAsMCwwLDB6Ii8+DQo8cGF0aCBmaWxsPSIjNUY0NjQ1IiBkPSJNNDguMDQyLDcuNTgzbC0xNC41LDEzLjgzNGwtMTQuNS0xMy44MzRjMCwwLDEwLjU3Nyw2LDE0LjUsNlM0OC4wNDIsNy41ODMsNDguMDQyLDcuNTgzeiIvPg0KPC9zdmc+DQo=");
        right: 20px;
        &:hover,
        &:focus {
            background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNi4wLjEsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9ItCh0LvQvtC5XzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB3aWR0aD0iMTMuODM0cHgiIGhlaWdodD0iMjlweCIgdmlld0JveD0iMCAwIDEzLjgzNCAyOSIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTMuODM0IDI5IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwYXRoIGZpbGw9IiNGRkZGRkYiIGQ9Ik0wLDAiLz4NCjxwYXRoIGZpbGw9IiM1RjQ2NDUiIGQ9Ik0wLDBsMTMuODM0LDE0LjVMMCwyOWMwLDAsNi0xMC41NzcsNi0xNC41UzAsMCwwLDB6Ii8+DQo8cGF0aCBmaWxsPSIjNUY0NjQ1IiBkPSJNNDguMDQyLDcuNTgzbC0xNC41LDEzLjgzNGwtMTQuNS0xMy44MzRjMCwwLDEwLjU3Nyw2LDE0LjUsNlM0OC4wNDIsNy41ODMsNDguMDQyLDcuNTgzeiIvPg0KPC9zdmc+DQo=");  
        }
    }
    &:before {
        display: none;
    }
}
.divaImg {
    width: 360px;
    @include position(absolute, 10px, 0, auto, 0);
    margin: auto;
    height: 240px;
    background-image: url("../images/diva.svg"), url("../images/logoWhite.svg");
    background-repeat: no-repeat;
    background-position: 50% 0%, 50% 91%;
    background-size: 200% 52%, 50% 50%;
}

 /*@media screen and (orientation:landscape) {
     .offer {position: static;
     & + .offerSpace {
         display: none;
         }
     }
     .divaImg {top: 60px}
 }*/

@media (max-height: 520px) {
     .offer {
        position: relative;
        top: 0;
     & + .offerSpace {
         display: none;
         }
     }
 }






.historySec {
    margin-top: -20px;
    padding-bottom: 0!important;
}
/*---------------------- 
    HISTORY SLIDER
------------------------*/

.historySlider {
    margin-top: 25px;
    background-color: #fff;
    overflow: hidden;
    &__slide{
        padding-bottom: 45px;
        position: relative;
        &__info {
            padding-bottom: 70px;
            &__img {
                height: 330px;
                position: relative;
                overflow: hidden;
                -webkit-border-radius: 100%/ 60px;
                        border-radius: 100%/ 60px;
                        overflow: hidden;
                &:after {
                    position: absolute;
                    left: 0; right: 0;
                    top: 0; bottom: 0;
                    margin: auto;
                    content: "";
                    display: block;
                    width: 96%; height: 95%;
                    background: transaprent;
                    border: 2px solid #fff;
                    -webkit-border-radius: 100%/ 60px;
                        border-radius: 100%/ 60px;
                }
                img {
                    position: absolute;
                    position: absolute;
                    left: -100%; right: -100%;
                    top: -100%; bottom: -100%;
                    margin: auto;
                    min-height: 100%;
                    min-width: 100%;
                    width: auto;
                    height: auto;
                }
            }
            .text {
                color: $brown;
                font: 14px "Arial";
                display: block;
                height: 94px;
                min-height: 94px;
                overflow: hidden;
                position: relative;
                padding: 0 10px;
                p {
                    margin-bottom: 10px;
                }
                &:after {
                  content: "";
                  text-align: right;
                  position: absolute;
                  bottom: 0;
                  right: 0;
                  left: 0;
                  width: 100%;
                  height: 25px;
                  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 100%);
                }
                &.full {
                    height: auto;
                    &:after {
                        display: none;
                    }
                }
            }
        }
        .button {
            position: absolute;
            bottom: 49px;
            left: 0;
            right: 0;
            margin: auto;
            z-index: 2;
        }
    }
    .slick-arrow {bottom: 20px !important;}
}

.history-date    {
    z-index: 50;
    position: relative;
    width: 176px;
    margin: -25px auto 20px;
    -webkit-border-radius: 45%/3px;
    border-radius: 45%/3px;
    background: $brown;
    color: #fff;
    font: 24px/45px $bb;
    &:after {
        position: absolute;
        top: 5px;
        right: 5px;
        bottom: 5px;
        left: 5px;
        border: 1px solid #ba9249;
        -webkit-box-shadow: 0 0 1px #ba9249;
        box-shadow: 0 0 1px #ba9249;
        -webkit-border-radius: 45%/3px;
        border-radius: 45%/3px;
        content: '';
        }
    }

.rounded {
    position: relative;
    overflow: hidden;

    .wrapper {
        padding-top: 70px;
    }
    

    &:before {
        content: '';
        border-radius: 0px 0px 50% 50% / 0px 0px 20px 20px;
        -webkit-filter: drop-shadow(0px 10px 15px rgba(160, 146, 146, 0.6));
        -o-filter: drop-shadow(0px 10px 15px rgba(160, 146, 146, 0.6));
        filter: drop-shadow(0px 10px 15px rgba(160, 146, 146, 0.6));
        width: 100%;
        height: 20px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        display: block;
        background-color: #fff;
    }
  
  &--top {
    margin-top: -20px;
    padding-bottom: 50px;
    overflow: hidden;
    background-color: transparent;

    &:before {
        content: '';
        width: 100%;
        height: 100%;
        top: 25px;
        position: absolute;
        background-color: #fff;
        z-index: -1;    
    }
    .wrapper:first-child {
        padding-top: 65px;
        background-image: url(../images/history.svg);
        background-position: 50% 0;
        background-size: 360px;
        background-repeat: repeat-x;
        background-color: transparent;
    }
  }
}

.content {
    padding-left: 20px;
    padding-right: 20px;
}
.consierge {
    padding-bottom: 50px;
}

form {
    margin-top: 30px;
    input,
    textarea {
        height: 50px;
        border: 1px solid #CAC0C0;
        padding-left: 15px;
        background-color: #ECE8E9;
        margin-bottom: 15px;
        width: 100%;
        color: #B89B9B;
        font: 18px $c;
    }
    textarea {
        height: 75px;
        padding-top: 10px;
        resize: none;
    }
    button {
        margin-top: 30px;
    }
}

/*---------------------- 
    MAP
------------------------*/
.map {
  height: 300px;
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
  margin-top: 50px;

  .wrapper {
    height: 100%;
    @extend %vertAlign;
    text-align: right;
  }

  .map_canvas {
    width: 100%;
    height: 100%;
    z-index: 5;

    .ymaps-2-1-39-copyrights-pane {
        display: none!important;
    }
  }
}

address {
    font-size: 24px;
    color: $brown;
    font-family: $c;
    font-style: normal;
    margin-bottom: 30px;
    line-height: 1.2;
    .tel {
        font-family: $cb;
    }
}
.contactPage p {
    font-size: 18px;
    color: $brown;
    margin-bottom: 20px;
    font-family: $c;
    line-height: 1.2;
    a {
        font-family: $cb;
        color: $brown;
    }
}
.contactPage form {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
}

@import 'footer';
@import 'history';
@import 'rest';
@import 'fish';
@import 'news';
@import 'photo';